.sidebar__user {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 87, 205, 1);
    border-radius: 10px;
    margin: 0 3px;
}