@import url('../vendor/normalize.css');

@import url('../vendor/fonts.css');

.page {
    font-family: Montserrat;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1920px;
}

.page__container {
    background-image: url('../images/index/background.jpg');
    background-size: auto;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    margin-bottom: 210px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo__image {
    width: inherit;
    height: inherit;
}

.menu {
    width: 447px;
    height: 50px;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu__list-item {

}

.menu__switch-theme-button {
    width: 48px;
    height: 48px;
    border: none;
    background-color: rgba(255,255,255,0);
    background-image: url('../images/index/switch-theme.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu__link {
    text-decoration: none;
    color: rgba(249, 249, 249, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.menu__link-text {
    margin: 0;
    width: 161px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: rgba(36, 54, 101, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 0 50px 50px;
    min-height: min-content;
    margin: 0 auto;
    padding-bottom: 349px;
    max-width: 1516px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__container {
    width: 760px;
}

.content__title {
    margin: 0 0 49.38px;
    font-weight: 700;
    font-size: 64px;
    line-height: 30px;
}

.content__subtitle {
    margin: 0;
    font-size: 32px;
    line-height: 33px;
}

.content__link-container {
    padding: 50px 46px;
    width: 508px;
    border-radius: 30px;
    background-color: rgba(255, 129, 45, 1);
    box-sizing: border-box;
}

.content__link {
    text-decoration: none;
}

.content__link-text {
    margin: 0 0 46px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(253, 252, 250, 1);
}

.content__arrow {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(253, 252, 250, 1);
}