@import url('../vendor/normalize.css');

@import url('../vendor/fonts.css');

@import url('../blocks/sidebar.css');

.pages {
    max-width: 1920px;
    margin: auto;
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    display: flex;
}

.content {
    width: 100%;
    margin-left: 70px;
    min-height: 100vh;
    background-color: rgba(243, 243, 243, 1);
    padding: 45px 166px;
    box-sizing: border-box;
}

.content__title {
    max-width: 264px;
    margin: 0 0 53px;
    padding: 15px 25px;
    background-color: rgba(253, 252, 250, 1);
    border-radius: 16px;
    box-shadow: 0px 3px 26.9px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 35px;
    color: rgba(8, 87, 205, 1);
    box-sizing: border-box;
}

.jobs-list {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(8, 87, 205, 1);
    border-radius: 10px;
    padding: 14px 28px;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.jobs-list__heading {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.jobs-list__button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(243, 243, 243, 1);
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    gap: 60px;
}

.card {
    width: 330px;
    border: 1px solid rgba(36, 54, 101, 1);
    border-radius: 14px;
}

.card__title-container {
    padding: 114px 53px;
    box-sizing: border-box;
    background-image: url('../images/recommended-jobs/background.png');
    background-color: rgba(253, 252, 250, 1);
    background-size: cover;
    border-bottom: 1px solid rgba(36, 54, 101, 1);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(8, 87, 205, 1);
}

.card__container {
    padding: 40px 58px 30px;
    box-sizing: border-box;
    background-color: rgba(253, 252, 250, 1);
    border-radius: inherit;
}

.card__button {
    padding: 14px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(36, 54, 101, 1);
    color: rgba(243, 243, 243, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin: 0 26px 27px;
    cursor: pointer;
}

.card__text-container {
    display: flex;
    gap: 31px;
}

.card__text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(8, 87, 205, 1);
}

.card__text_type_date {
    color: rgba(36, 54, 101, 1);
}