@import url('../vendor/normalize.css');

@import url('../vendor/fonts.css');

.page {
    max-width: 1920px;
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    margin: auto;
}

.header {

}

.content {
    padding: 22px 20px;
    display: flex;
    margin: auto;
    column-gap: 20px;
}

.choose-job {
    max-width: 920px;
    padding: 63px 65px;
    font-family: Ubuntu;
    color: rgba(242, 242, 242, 1);
    border-radius: 40px;
    background-image: url("../images/authorization/background.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.logo {
    max-width: min-content;
    max-height: min-content;
    margin-bottom: 280px;
}

.logo__link {
    text-decoration: none;
    color: rgba(242, 242, 242, 1);
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.logo__image {
    width: 67px;
    height: 67px;
}

.logo__text {
    font-family: Montserrat;
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 30px;
}

.choose-job__container {
    
}

.choose-job__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 94px;
    margin: 0 0 24px;
}

.choose-job__subtitle-container {
    max-width: 406px;
    padding: 10px 34px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 48px;
    box-sizing: border-box;
}

.choose-job__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    
}

.choose-job__steps {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content,239px));
    grid-template-rows: auto;
    justify-content: start;
    gap: 15px;
}

.choose-job__step {
    
}

.choose-job__step:last-of-type {
    margin-right: 73px;
}

.choose-job__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 239px;
    min-height: 196px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 26px;
    padding: 15px;
    box-sizing: border-box;
}

.choose-job__card_theme_white {
    background-color: rgba(241, 239, 239, 1);
}

.choose-job__number-container {
    width: 37px;
    height: 37px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-job__number-container_theme_white {
    border: none;
    background-color: rgba(0, 117, 255, 1);
}

.choose-job__number {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: rgba(246, 244, 244, 1);
}

.choose-job__text-container {
    max-width: 210px;
    min-height: 69px;
    display: flex;
    align-items: center;
}

.choose-job__text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: rgba(236, 234, 234, 1);
}

.choose-job__text_theme_white {
    color: rgba(0, 0, 0, 1);
}

.registration {
    width: 594px;
    align-self: center;
    margin: 0 auto;
    color: rgba(8, 87, 205, 1);
    font-size: 16px;
}

.form {
    margin: 0;
    padding: 0;
}

.form__title {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 34px;
    line-height: 41.45px;
    text-align: center;
}

.form__input-container {
    margin: 0 0 50px;
    padding: 0;
    border: none;
}

.form__group-container {
    display: grid;
    grid-template-columns: minmax(min-content, 304px) minmax(min-content, 260px);
    column-gap: 30px;
}

.form__group {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-bottom: 30px;
}

.form__group-label {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(8, 87, 205, 1);
}

.form__group:last-of-type {
    margin-bottom: 0;
}

.form__item {
    margin: 0;
    padding: 21px 19px;
    border: 3px solid rgba(8, 87, 205, 1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.form__item:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form__item_el_email {

}

.form__item_el_password {

}

.form__handlers {
    margin: 0 0 25px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
}

.form__submit-button {
    margin: 0;
    padding: 16px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: rgba(243, 243, 243, 1);
    background-color: rgba(36, 54, 101, 1);
    cursor: pointer;
}

.form__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgba(8, 87, 205, 1);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}