.sidebar__list-text {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.sidebar__list-item-container:hover .sidebar__list-text {
    display: block;
}